In [76]:
import pandas as pd

In [77]:
df = pd.read_csv("/home/devjith/Luminar/Machine Learning/files/Stats survey.csv")

In [78]:
df

,Timestamp,Your Sex?,Your Matric (grade 12) Average/ GPA (in %),What year were you in last year (2023) ?,What faculty does your degree fall under?,Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student),Your Accommodation Status Last Year (2023),Monthly Allowance in 2023,Were you on scholarship/bursary in 2023?,Additional amount of studying (in hrs) per week,How often do you go out partying/socialising during the week?,"On a night out, how many alcoholic drinks do you consume?","How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)",How many modules have you failed thus far into your studies?,Are you currently in a romantic relationship?,Do your parents approve alcohol consumption?,How strong is your relationship with your parent/s?
0,2024/03/07 5:12:01 pm EET,Female,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,2024/03/07 5:12:08 pm EET,Male,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,2024/03/07 5:12:25 pm EET,Male,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,2024/03/07 5:12:28 pm EET,Male,89.0,2nd Year,Engineering,84.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,2024/03/07 5:13:00 pm EET,Female,74.0,2nd Year,Arts & Social Sciences,52.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,2024/03/12 11:05:33 am EET,Female,74.0,NaN,Science,NaN,Private accommodation/ stay with family/friends,NaN,No,3-5,3,1-3,0,0,No,Yes,Close
402,2024/03/12 3:26:14 pm EET,Female,73.0,2nd Year,Economic & Management Sciences,58.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,"Yes (NSFAS, etc...)",5-8,1,8+,0,0,Yes,Yes,Very close
403,2024/03/13 10:32:19 pm EET,Female,86.0,1st Year,NaN,NaN,Private accommodation/ stay with family/friends,R 4001- R 5000,No,5-8,2,3-5,1,0,No,Yes,Very close
404,2024/03/13 10:32:27 pm EET,Male,85.0,NaN,Economic & Management Sciences,NaN,Private accommodation/ stay with family/friends,R 4001- R 5000,No,1-3,4+,5-8,4+,0,No,Yes,Close
405,2024/03/16 10:30:36 pm EET,Female,80.0,1st Year,NaN,63.0,Private accommodation/ stay with family/friends,R 5001 - R 6000,No,3-5,Only weekends,3-5,1,0,No,No,Close

In [79]:
df.columns

Index(['Timestamp', 'Your Sex?', 'Your Matric (grade 12) Average/ GPA (in %)',
       'What year were you in last year (2023) ?',
       'What faculty does your degree fall under?',
       'Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)',
       'Your Accommodation Status Last Year (2023)',
       'Monthly Allowance in 2023', 'Were you on scholarship/bursary in 2023?',
       'Additional amount of studying (in hrs) per week',
       'How often do you go out partying/socialising during the week? ',
       'On a night out, how many alcoholic drinks do you consume?',
       'How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)',
       'How many modules have you failed thus far into your studies?',
       'Are you currently in a romantic relationship?',
       'Do your parents approve alcohol consumption?',
       'How strong is your relationship with your parent/s?'],
      dtype='object')

In [80]:
df.shape

(406, 17)

In [81]:
df.dtypes

Timestamp                                                                                             object
Your Sex?                                                                                             object
Your Matric (grade 12) Average/ GPA (in %)                                                           float64
What year were you in last year (2023) ?                                                              object
What faculty does your degree fall under?                                                             object
Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)                   float64
Your Accommodation Status Last Year (2023)                                                            object
Monthly Allowance in 2023                                                                             object
Were you on scholarship/bursary in 2023?                                                              object
Additional amount of studying (in hrs) per week                                                       object
How often do you go out partying/socialising during the week?                                         object
On a night out, how many alcoholic drinks do you consume?                                             object
How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)     object
How many modules have you failed thus far into your studies?                                          object
Are you currently in a romantic relationship?                                                         object
Do your parents approve alcohol consumption?                                                          object
How strong is your relationship with your parent/s?                                                   object
dtype: object

In [82]:
df = df.drop(columns=['Timestamp'])

In [83]:
df.columns = ['sex','12_gpa','last_year','faculty','2023_gpa','accomodation','monthly_allowance','scholarship','additona_study_hrs','hours_partying','no_of_drinks','classes_missed','modules_failed','romantic_relation','parents_approve','parents_relationship']

In [84]:
df

,sex,12_gpa,last_year,faculty,2023_gpa,accomodation,monthly_allowance,scholarship,additona_study_hrs,hours_partying,no_of_drinks,classes_missed,modules_failed,romantic_relation,parents_approve,parents_relationship
0,Female,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,Male,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,Male,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,Male,89.0,2nd Year,Engineering,84.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,Female,74.0,2nd Year,Arts & Social Sciences,52.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,Female,74.0,NaN,Science,NaN,Private accommodation/ stay with family/friends,NaN,No,3-5,3,1-3,0,0,No,Yes,Close
402,Female,73.0,2nd Year,Economic & Management Sciences,58.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,"Yes (NSFAS, etc...)",5-8,1,8+,0,0,Yes,Yes,Very close
403,Female,86.0,1st Year,NaN,NaN,Private accommodation/ stay with family/friends,R 4001- R 5000,No,5-8,2,3-5,1,0,No,Yes,Very close
404,Male,85.0,NaN,Economic & Management Sciences,NaN,Private accommodation/ stay with family/friends,R 4001- R 5000,No,1-3,4+,5-8,4+,0,No,Yes,Close
405,Female,80.0,1st Year,NaN,63.0,Private accommodation/ stay with family/friends,R 5001 - R 6000,No,3-5,Only weekends,3-5,1,0,No,No,Close

In [85]:
df.isna().sum()

sex                      2
12_gpa                   7
last_year               73
faculty                  7
2023_gpa                86
accomodation            23
monthly_allowance       31
scholarship              8
additona_study_hrs       3
hours_partying           2
no_of_drinks             2
classes_missed           3
modules_failed           3
romantic_relation        3
parents_approve          4
parents_relationship     3
dtype: int64

In [86]:
df['12_gpa'].unique()

array([76.  , 89.  , 74.  , 83.  , 80.  , 85.  , 75.  , 79.  , 72.  ,
       78.  , 87.  , 86.  , 69.  , 73.  , 84.  , 99.  , 82.6 , 65.  ,
       81.  , 88.  , 70.  , 98.  , 90.  , 98.33,   nan, 82.  , 77.  ,
       68.  , 66.  , 92.  , 91.86, 71.  , 63.  , 67.  , 60.  , 94.  ,
       95.  , 34.  , 86.4 , 95.5 , 55.  , 91.21, 96.  , 64.  ])

In [87]:
df.dropna(subset=['2023_gpa'],inplace=True)

In [88]:
df.isna().sum()

sex                      0
12_gpa                   2
last_year                1
faculty                  3
2023_gpa                 0
accomodation             2
monthly_allowance       14
scholarship              0
additona_study_hrs       0
hours_partying           0
no_of_drinks             0
classes_missed           1
modules_failed           0
romantic_relation        1
parents_approve          1
parents_relationship     1
dtype: int64

In [89]:
df['parents_relationship'].unique()

array(['Very close', 'Fair', 'Close', 'Distant', nan], dtype=object)

In [90]:

df['12_gpa'] = df['12_gpa'].fillna(df['12_gpa'].mean())
df['last_year'] = df['last_year'].fillna(df['last_year'].mode()[0])
df['faculty'] = df['faculty'].fillna(df['faculty'].mode()[0])
df['accomodation'] = df['accomodation'].fillna(df['accomodation'].mode()[0])
df['monthly_allowance'] = df['monthly_allowance'].fillna(df['monthly_allowance'].mode()[0])
df['classes_missed'] = df['classes_missed'].fillna(df['classes_missed'].mode()[0])
df['romantic_relation'] = df['romantic_relation'].fillna(df['romantic_relation'].mode()[0])
df['parents_approve'] = df['parents_approve'].fillna(df['parents_approve'].mode()[0])
df['parents_relationship'] = df['parents_relationship'].fillna(df['parents_relationship'].mode()[0])

In [91]:
df.isna().sum()

sex                     0
12_gpa                  0
last_year               0
faculty                 0
2023_gpa                0
accomodation            0
monthly_allowance       0
scholarship             0
additona_study_hrs      0
hours_partying          0
no_of_drinks            0
classes_missed          0
modules_failed          0
romantic_relation       0
parents_approve         0
parents_relationship    0
dtype: int64

In [92]:
df

,sex,12_gpa,last_year,faculty,2023_gpa,accomodation,monthly_allowance,scholarship,additona_study_hrs,hours_partying,no_of_drinks,classes_missed,modules_failed,romantic_relation,parents_approve,parents_relationship
0,Female,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,Male,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,Male,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,Male,89.0,2nd Year,Engineering,84.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,Female,74.0,2nd Year,Arts & Social Sciences,52.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,Female,78.0,2nd Year,Medicine and Health Services,74.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,1-3,Only weekends,1-3,0,0,No,Yes,Very close
397,Male,86.0,1st Year,Economic & Management Sciences,70.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,5-8,2,3-5,2,0,Yes,Yes,Fair
398,Female,74.0,2nd Year,Economic & Management Sciences,60.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,5-8,Only weekends,1-3,0,3,No,No,Close
402,Female,73.0,2nd Year,Economic & Management Sciences,58.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,"Yes (NSFAS, etc...)",5-8,1,8+,0,0,Yes,Yes,Very close
405,Female,80.0,1st Year,Economic & Management Sciences,63.0,Private accommodation/ stay with family/friends,R 5001 - R 6000,No,3-5,Only weekends,3-5,1,0,No,No,Close

In [93]:
df.dtypes

sex                      object
12_gpa                  float64
last_year                object
faculty                  object
2023_gpa                float64
accomodation             object
monthly_allowance        object
scholarship              object
additona_study_hrs       object
hours_partying           object
no_of_drinks             object
classes_missed           object
modules_failed           object
romantic_relation        object
parents_approve          object
parents_relationship     object
dtype: object

In [94]:
df_enc = pd.get_dummies(df[['sex','last_year','faculty','accomodation','monthly_allowance','scholarship','additona_study_hrs','hours_partying','no_of_drinks','classes_missed','modules_failed','romantic_relation','parents_approve','parents_relationship']],drop_first=True,dtype=int)

In [95]:
df = pd.concat([df,df_enc],axis=1)

In [97]:
df = df.drop(columns=['sex','last_year','faculty','accomodation','monthly_allowance','scholarship','additona_study_hrs','hours_partying','no_of_drinks','classes_missed','modules_failed','romantic_relation','parents_approve','parents_relationship'])

In [98]:
df

,12_gpa,2023_gpa,sex_Male,last_year_2nd Year,last_year_3rd Year,last_year_4th Year,last_year_Postgraduate,faculty_Arts & Social Sciences,faculty_Economic & Management Sciences,faculty_Education,...,classes_missed_4+,modules_failed_1,modules_failed_2,modules_failed_3,modules_failed_4+,romantic_relation_Yes,parents_approve_Yes,parents_relationship_Distant,parents_relationship_Fair,parents_relationship_Very close
0,76.0,72.0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,1,1,0,0,1
1,89.0,75.0,1,1,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,1
2,76.0,55.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,89.0,84.0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
4,74.0,52.0,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,78.0,74.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
397,86.0,70.0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,1,1,0,1,0
398,74.0,60.0,0,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
402,73.0,58.0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,1,0,0,1
405,80.0,63.0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [99]:
x = df.drop(columns='2023_gpa')
y = df['2023_gpa']

In [100]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [108]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
model = RandomForestRegressor(n_estimators=200,n_jobs=-1)

model.fit(x_train,y_train)
y_pred = model.predict(x_test)

# model = LinearRegression()
# model.fit(x_train,y_train)
# y_pred = model.predict(x_test)

In [109]:
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,mean_squared_error,root_mean_squared_error,r2_score

mae = mean_absolute_error(y_test,y_pred)
mape = mean_absolute_percentage_error(y_test,y_pred)
mse = mean_squared_error(y_test,y_pred)
rmse = root_mean_squared_error(y_test,y_pred)
r2score = r2_score(y_test,y_pred)

print(f" Mean Absolute error {mae},\n Mean absolute percentage error {mape},\n Mean squared error {mse},\n Root mean squared error {rmse},\n r2 score {r2score}")

 Mean Absolute error 6.015755208333334,
 Mean absolute percentage error 0.09177982700731217,
 Mean squared error 62.55209424531251,
 Root mean squared error 7.908988193524663,
 r2 score 0.10877238710438608